@using Microsoft.AspNetCore.Identity.Data

@rendermode InteractiveServer
@page "/"


@inject IConfiguration Configuration
@inject mynydd.Services.DataStore DataStore


<PageTitle>mynydd</PageTitle>

@if (_loggedIn)
{
    <div id="main-container">
        <div id="main-list">
            @foreach (var note in _notes)
            {
                var selected = _selectedNote != null && note.TimestampUtc == _selectedNote.TimestampUtc && note.Text == _selectedNote.Text;
                <a href="#" class="note-timestamp@(selected ? " selected" : null)" @onclick="() => OnNoteClick(note)">
                    @note.TimestampUtc.ToString("yy-MM-dd HH:mm:ss")
                </a>
            }
        </div>
        <InputTextArea id="main-textarea" @bind-Value="_text" />
        <div id="main-actions">
            <a id="action-new" href="#" @onclick="OnNewClick">New</a>
            <a id="action-save" href="#" @onclick="OnSaveClick">Save</a>
            <a id="action-delete" href="#" @onclick="OnDeleteClick">Delete</a>
        </div>
    </div>
}
else
{
    <input type="password" @ref="_passwordInput" @onchange="OnKeyDown" />
}   

@code {
    private ElementReference _passwordInput;

    private bool _loggedIn = false;
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender && !_loggedIn)
            {
                await _passwordInput.FocusAsync();
            }
        }
    private string _text = string.Empty;
    private List<mynydd.Models.Note> _notes = new();
    private mynydd.Models.Note? _selectedNote = null;

    private async Task OnKeyDown(ChangeEventArgs e)
    {
        if (e.Value?.ToString() == Configuration["LoginToken"])
        {
            _loggedIn = true;
            _notes = DataStore.GetAllNotes();
            StateHasChanged();
        }
    }

    private void OnNewClick()
    {
        _selectedNote = null;
        _text = string.Empty;
    }

    private void OnSaveClick()
    {
        if (_selectedNote != null)
        {
            // Update existing note
            DataStore.UpdateNote(_selectedNote.Id, _text);
        }
        else
        {
            // Insert new note
            DataStore.InsertNote(_text);
        }
        _notes = DataStore.GetAllNotes();
        // Refresh selected note reference if editing
        if (_selectedNote != null)
        {
            _selectedNote = _notes.FirstOrDefault(n => n.Id == _selectedNote.Id);
        }
        StateHasChanged();
    }

    private void OnDeleteClick()
    {
        if (_selectedNote != null)
        {
            DataStore.DeleteNote(_selectedNote.Id);
            _notes = DataStore.GetAllNotes();
            _selectedNote = null;
            _text = string.Empty;
            StateHasChanged();
        }
    }

    private void OnNoteClick(mynydd.Models.Note note)
    {
        _selectedNote = note;
        _text = note.Text;
    }
}